
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(250, 81, 48);
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 39px;
    --search-height: calc(var(--header-height) - var(--navbar-height));
    --app-container-height: 50px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;   /* 10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* test */
.pd-top-16 {
    padding-top: 16px;
}

.pd-top-20 {
    padding-top: 20px;
}

/* animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes grow {
    from {
        transform: scale(var(--grow-from));
    } to {
        transform: scale(var(--grow-to));
    }
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn ease-in 0.1s;
}

.modal__body {
    --grow-from: 0.7;
    --grow-to: 1;
    margin: auto;
    z-index: 1;
    animation: grow linear 0.1s;
}

/* btn style */
.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5em;
    background-color: var(--white-color);
    cursor: pointer;
    outline: none;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
    line-height: 1.6rem;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn--size-s {
    width: 32px;
    min-width: 204px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn--with-icon {
    display: flex;
    justify-content: space-between;
}

/* pagination */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item--active {
    background-color: var(--primary-color);
    color: var(--white-color) !important;
}

.pagination-item__icon {
    font-size: 2.1rem;
    color: #959595;
    text-decoration: none;
    display: block;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    margin: 0 12px;
}